@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

/* .nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 2rem 5rem; */
  padding: 20px 20px;
  background-color: #eaeaea;
}

nav a {
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
}

a:hover {
  color: aqua;
}

.logo {
  color: seagreen;
  font-size: 40px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1557858310-9052820906f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.company-title {
  font-size: 56px;
  color: #8CE0EB;
  margin-top: 275px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.about-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-p {
  font-size: 20px;
  line-height: 2;
  padding: 15px;
  margin: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  padding: 15px;
}

.services-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.services-content {
  font-size: 20px;
  line-height: 2;
  margin: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.contact-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-info {
  font-size: 24px;
  line-height: 2;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.newsletter-title {
  font-size: 28px;
}

input {
  padding: 15px;
}

.btn {
  padding: 10px;
  background-color: black;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: aqua;
}

.footer {
  background-color: #8CE0EB;
   padding: 20px; 
  align-content: center;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;

}

@media (max-width:640px){
.about-title{
  font-size: 48px;
}

.about-p{
  margin: 25px;
}

.services-title{
  font-size: 48px;
}


.services-content{
  margin: 25px;
}

.contact-title{
  font-size: 48px;
}
.contact-info{
  font-size: 36px;
}

.newsletter-title{
  font-size: 40px;
  margin: 20px;
  text-align: center;
}
.newsletter{
  justify-content: center;
  align-content: center;
  text-align: center;
}

form{
  align-content: center;
  margin-left: 35px;
}

.links{
  font-size: 24px;
  
}

.links a {
flex-direction: column;
}


}

@media (min-width:300px) and (max-width:510px) {
.company-title{
  text-align: center;
  font-size: 60px;
}
}


/* @media (min-width: 300px) {
   html {
    max-width: 90%;
  } 
  .company-title {
    max-width: 90%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }

  .about-title {
    padding-top: 20px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .newsletter-title {
    align-items: center;
  }

  form {
    align-items: center;
  }
} */
